
.layer-content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    &.row-color-hover:hover{
        background-color: rgb(237, 231, 231);
        cursor: pointer;
        
    }
    &.margin-top-10{
        margin-top: 10px;
    }
    @media (min-width: 600px){
        &.toolbar-root {
            padding-left: 16px;
            padding-right: 8px;
        }
    }
    @media (min-width: 0px){
        &.toolbar-root {
            padding-right: 8px;
        }
    }
    
    @media (min-width: 600px){
        &.toolbar-root{
            min-height: 64px;
        }
    }
    
    @media (min-width: 0px){
        @media (orientation: landscape) {
            &.toolbar-root{
                min-height: 48px;
            }
        }
    }
    
    @media (min-width: 600px){
        &.toolbar-root {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    &.toolbar-root {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 56px;
    }
    
}

.check-box-container{
    cursor: pointer;
    margin-right: 10px;
}

.flex-auto{
    flex: auto;
    &.text-style-400{
        font-weight:400;
    }
    &.cursor-style{
        cursor: pointer;
    }
}

.layer-title{
    flex:1;
    display:flex;
    justify-content:center;
    font-weight:400;
    font-size:20px;
}

.centerize-contents{
    margin:0 auto 0 auto;
    &.display-row-contents{
        display:flex;
        align-items:center;
    }
    &.padding-contents20{
        padding-top:20px;
        padding-bottom:20px;
    }
    &.padding-contents10{
        padding-top:10px;
        padding-bottom:10px;
    }
    &.row-color-hover:hover{
        background-color: rgb(237, 231, 231);
        cursor: pointer;  
    }
}

.display-flex-end{
    display: flex;
    justify-content: flex-end;
    &.close-button{
        cursor: pointer;
    }
}

.dropdown-toggle{
    background-color:green;
    width:180px;
    color:white
}

.attribute-contents-container:nth-child(even){
    background-color: rgb(237, 231, 231);
    padding:10px 5px 10px 5px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.attribute-contents-container:nth-child(odd){
    background-color:rgb(218, 215, 215);
    padding:10px 5px 10px 5px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.attribute-container:nth-child(even){
    background-color: rgb(237, 231, 231);
    padding:10px;
}

.attribute-container:nth-child(odd){
    background-color:rgb(218, 215, 215);
    padding:10px;
}

.attribute-key{
    font-size:14px;
    font-weight: 600;
}
.attribute-value{
    font-size:14px;
    font-weight: 300;
}

.attribute-title{
    font-size:14px;
}

.icon-style{
    width:20px;
    height: 20px;
    margin-right:10px;
}

.morehorizicon-container{
    margin-right:10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper  {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0;
    width: 25%;
    height:450px;
    overflow: auto;
}

.menu-item-text-container{
    padding: 0 10px 0 10px;
    font-size: 14px;
    flex: auto;
}


.refresh-button{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: green($color: #000000);

}

.layer-content-container{
    .app-root-emotion-cache-ltr-1thuzoh:hover, .app-root-emotion-cache-ltr-1thuzoh[aria-expanded="true"] {
        background-color:transparent;
        text-decoration: none;
        font-style: normal;
        outline: none;
    }
    &.app-root-emotion-cache-ltr-1thuzoh:active{
        background-color:transparent;
        text-decoration: none;
        font-style: normal;
        outline: none;
    }
}

.topography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}


// @media (min-width: 600px){
//     .toolbar-root {
//         padding-left: 16px;
//         padding-right: 8px;
//     }
// }

// @media (min-width: 0px){
//     .toolbar-root {
//         padding-right: 8px;
//     }
// }

// @media (min-width: 600px){
//     .toolbar-root{
//         min-height: 64px;
//     }
// }

// @media (min-width: 0px){
//     @media (orientation: landscape) {
//         .toolbar-root{
//             min-height: 48px;
//         }
//     }
// }

// @media (min-width: 600px){
//     .toolbar-root {
//         padding-left: 24px;
//         padding-right: 24px;
//     }
// }

// .toolbar-root {
//     position: relative;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-align-items: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     padding-left: 16px;
//     padding-right: 16px;
//     min-height: 56px;
// }
